.back-button {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    background:#2C98F0;
    box-shadow: 0.1em 0.1em 0.3em grey;
    font:bold 13px Arial;
    outline: none;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
	color:#FFFFFF;
}

.back-button:active {
    box-shadow: -0.1em -0.1em 0.3em grey;
}