.div-submit-meal-button {
    margin: 0;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.submit-meal-button {
    margin: 10px;
    background:#15b922;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    box-shadow: 0.1em 0.1em 0.3em grey;
    border-radius: 7px;
    font-size: 1em;
    outline: none;
	color:#FFFFFF;
}

.submit-meal-button:active {
    font-weight: bold;
    box-shadow: -0.1em -0.1em 0.3em grey;
}

.submit-meal-button:disabled, .submit-meal-button:disabled:active {
    background:#b6b5b593;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    box-shadow: none;
    border-radius: 7px;
    pointer-events: none;
    outline: none;
	color:#5c5c5c93;
}